html[data-theme="light"] .highlight pre { line-height: 125%; }
html[data-theme="light"] .highlight td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
html[data-theme="light"] .highlight span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
html[data-theme="light"] .highlight td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
html[data-theme="light"] .highlight span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
html[data-theme="light"] .highlight .hll { background-color: #ffffcc }
html[data-theme="light"] .highlight { background: #f5f9ff; color: #061525 }
html[data-theme="light"] .highlight .c { color: #8B93A5; font-style: italic } /* Comment */
html[data-theme="light"] .highlight .err { color: #A81D1E } /* Error */
html[data-theme="light"] .highlight .k { color: #A81D1E } /* Keyword */
html[data-theme="light"] .highlight .n { color: #061525 } /* Name */
html[data-theme="light"] .highlight .o { color: #3CC5D0 } /* Operator */
html[data-theme="light"] .highlight .ch { color: #8B93A5; font-style: italic } /* Comment.Hashbang */
html[data-theme="light"] .highlight .cm { color: #8B93A5; font-style: italic } /* Comment.Multiline */
html[data-theme="light"] .highlight .cp { color: #5E2132; font-style: italic } /* Comment.Preproc */
html[data-theme="light"] .highlight .cpf { color: #8B93A5; font-style: italic } /* Comment.PreprocFile */
html[data-theme="light"] .highlight .c1 { color: #8B93A5; font-style: italic } /* Comment.Single */
html[data-theme="light"] .highlight .cs { color: #8B93A5; font-style: italic } /* Comment.Special */
html[data-theme="light"] .highlight .gr { color: #A81D1E } /* Generic.Error */
html[data-theme="light"] .highlight .gh { color: #0C3762; font-weight: bold } /* Generic.Heading */
html[data-theme="light"] .highlight .gp { color: #8B93A5 } /* Generic.Prompt */
html[data-theme="light"] .highlight .gu { color: #5E2132 } /* Generic.Subheading */
html[data-theme="light"] .highlight .kc { color: #A81D1E } /* Keyword.Constant */
html[data-theme="light"] .highlight .kd { color: #A81D1E } /* Keyword.Declaration */
html[data-theme="light"] .highlight .kn { color: #A81D1E } /* Keyword.Namespace */
html[data-theme="light"] .highlight .kp { color: #A81D1E } /* Keyword.Pseudo */
html[data-theme="light"] .highlight .kr { color: #A81D1E } /* Keyword.Reserved */
html[data-theme="light"] .highlight .kt { color: #5E2132 } /* Keyword.Type */
html[data-theme="light"] .highlight .m { color: #D9A21B } /* Literal.Number */
html[data-theme="light"] .highlight .s { color: #FFA1D7 } /* Literal.String */
html[data-theme="light"] .highlight .na { color: #061525 } /* Name.Attribute */
html[data-theme="light"] .highlight .nb { color: #005B46 } /* Name.Builtin */
html[data-theme="light"] .highlight .nc { color: #0C3762; font-weight: bold } /* Name.Class */
html[data-theme="light"] .highlight .no { color: #061525 } /* Name.Constant */
html[data-theme="light"] .highlight .nd { color: #3CC5D0 } /* Name.Decorator */
html[data-theme="light"] .highlight .ni { color: #061525 } /* Name.Entity */
html[data-theme="light"] .highlight .ne { color: #061525 } /* Name.Exception */
html[data-theme="light"] .highlight .nf { color: #0C3762 } /* Name.Function */
html[data-theme="light"] .highlight .nl { color: #061525 } /* Name.Label */
html[data-theme="light"] .highlight .nn { color: #5E2132 } /* Name.Namespace */
html[data-theme="light"] .highlight .nx { color: #061525 } /* Name.Other */
html[data-theme="light"] .highlight .py { color: #061525 } /* Name.Property */
html[data-theme="light"] .highlight .nt { color: #061525 } /* Name.Tag */
html[data-theme="light"] .highlight .nv { color: #061525 } /* Name.Variable */
html[data-theme="light"] .highlight .ow { color: #3CC5D0 } /* Operator.Word */
html[data-theme="light"] .highlight .w { color: #061525 } /* Text.Whitespace */
html[data-theme="light"] .highlight .mb { color: #D9A21B } /* Literal.Number.Bin */
html[data-theme="light"] .highlight .mf { color: #D9A21B } /* Literal.Number.Float */
html[data-theme="light"] .highlight .mh { color: #D9A21B } /* Literal.Number.Hex */
html[data-theme="light"] .highlight .mi { color: #D9A21B } /* Literal.Number.Integer */
html[data-theme="light"] .highlight .mo { color: #D9A21B } /* Literal.Number.Oct */
html[data-theme="light"] .highlight .sa { color: #FFA1D7 } /* Literal.String.Affix */
html[data-theme="light"] .highlight .sb { color: #FFA1D7 } /* Literal.String.Backtick */
html[data-theme="light"] .highlight .sc { color: #FFA1D7 } /* Literal.String.Char */
html[data-theme="light"] .highlight .dl { color: #FFA1D7 } /* Literal.String.Delimiter */
html[data-theme="light"] .highlight .sd { color: #FFA1D7 } /* Literal.String.Doc */
html[data-theme="light"] .highlight .s2 { color: #FFA1D7 } /* Literal.String.Double */
html[data-theme="light"] .highlight .se { color: #5E2132 } /* Literal.String.Escape */
html[data-theme="light"] .highlight .sh { color: #FFA1D7 } /* Literal.String.Heredoc */
html[data-theme="light"] .highlight .si { color: #FFA1D7 } /* Literal.String.Interpol */
html[data-theme="light"] .highlight .sx { color: #FFA1D7 } /* Literal.String.Other */
html[data-theme="light"] .highlight .sr { color: #FFA1D7 } /* Literal.String.Regex */
html[data-theme="light"] .highlight .s1 { color: #FFA1D7 } /* Literal.String.Single */
html[data-theme="light"] .highlight .ss { color: #FFA1D7 } /* Literal.String.Symbol */
html[data-theme="light"] .highlight .bp { color: #005B46 } /* Name.Builtin.Pseudo */
html[data-theme="light"] .highlight .fm { color: #0C3762 } /* Name.Function.Magic */
html[data-theme="light"] .highlight .vc { color: #061525 } /* Name.Variable.Class */
html[data-theme="light"] .highlight .vg { color: #061525 } /* Name.Variable.Global */
html[data-theme="light"] .highlight .vi { color: #061525 } /* Name.Variable.Instance */
html[data-theme="light"] .highlight .vm { color: #061525 } /* Name.Variable.Magic */
html[data-theme="light"] .highlight .il { color: #D9A21B } /* Literal.Number.Integer.Long */
html[data-theme="dark"] .highlight pre { line-height: 125%; }
html[data-theme="dark"] .highlight td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
html[data-theme="dark"] .highlight span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
html[data-theme="dark"] .highlight td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
html[data-theme="dark"] .highlight span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
html[data-theme="dark"] .highlight .hll { background-color: #ffffcc }
html[data-theme="dark"] .highlight { background: #061525; color: #B6BDCE }
html[data-theme="dark"] .highlight .c { color: #626A7C; font-style: italic } /* Comment */
html[data-theme="dark"] .highlight .err { color: #A81D1E } /* Error */
html[data-theme="dark"] .highlight .k { color: #A81D1E } /* Keyword */
html[data-theme="dark"] .highlight .n { color: #B6BDCE } /* Name */
html[data-theme="dark"] .highlight .o { color: #3CC5D0 } /* Operator */
html[data-theme="dark"] .highlight .ch { color: #626A7C; font-style: italic } /* Comment.Hashbang */
html[data-theme="dark"] .highlight .cm { color: #626A7C; font-style: italic } /* Comment.Multiline */
html[data-theme="dark"] .highlight .cp { color: #935160; font-style: italic } /* Comment.Preproc */
html[data-theme="dark"] .highlight .cpf { color: #626A7C; font-style: italic } /* Comment.PreprocFile */
html[data-theme="dark"] .highlight .c1 { color: #626A7C; font-style: italic } /* Comment.Single */
html[data-theme="dark"] .highlight .cs { color: #626A7C; font-style: italic } /* Comment.Special */
html[data-theme="dark"] .highlight .gr { color: #A81D1E } /* Generic.Error */
html[data-theme="dark"] .highlight .gh { color: #FBF4D7; font-weight: bold } /* Generic.Heading */
html[data-theme="dark"] .highlight .gp { color: #626A7C } /* Generic.Prompt */
html[data-theme="dark"] .highlight .gu { color: #935160 } /* Generic.Subheading */
html[data-theme="dark"] .highlight .kc { color: #A81D1E } /* Keyword.Constant */
html[data-theme="dark"] .highlight .kd { color: #A81D1E } /* Keyword.Declaration */
html[data-theme="dark"] .highlight .kn { color: #A81D1E } /* Keyword.Namespace */
html[data-theme="dark"] .highlight .kp { color: #A81D1E } /* Keyword.Pseudo */
html[data-theme="dark"] .highlight .kr { color: #A81D1E } /* Keyword.Reserved */
html[data-theme="dark"] .highlight .kt { color: #935160 } /* Keyword.Type */
html[data-theme="dark"] .highlight .m { color: #D9A21B } /* Literal.Number */
html[data-theme="dark"] .highlight .s { color: #FFA1D7 } /* Literal.String */
html[data-theme="dark"] .highlight .na { color: #B6BDCE } /* Name.Attribute */
html[data-theme="dark"] .highlight .nb { color: #005B46 } /* Name.Builtin */
html[data-theme="dark"] .highlight .nc { color: #FBF4D7; font-weight: bold } /* Name.Class */
html[data-theme="dark"] .highlight .no { color: #B6BDCE } /* Name.Constant */
html[data-theme="dark"] .highlight .nd { color: #3CC5D0 } /* Name.Decorator */
html[data-theme="dark"] .highlight .ni { color: #B6BDCE } /* Name.Entity */
html[data-theme="dark"] .highlight .ne { color: #B6BDCE } /* Name.Exception */
html[data-theme="dark"] .highlight .nf { color: #FBF4D7 } /* Name.Function */
html[data-theme="dark"] .highlight .nl { color: #B6BDCE } /* Name.Label */
html[data-theme="dark"] .highlight .nn { color: #935160 } /* Name.Namespace */
html[data-theme="dark"] .highlight .nx { color: #B6BDCE } /* Name.Other */
html[data-theme="dark"] .highlight .py { color: #B6BDCE } /* Name.Property */
html[data-theme="dark"] .highlight .nt { color: #B6BDCE } /* Name.Tag */
html[data-theme="dark"] .highlight .nv { color: #B6BDCE } /* Name.Variable */
html[data-theme="dark"] .highlight .ow { color: #3CC5D0 } /* Operator.Word */
html[data-theme="dark"] .highlight .w { color: #B6BDCE } /* Text.Whitespace */
html[data-theme="dark"] .highlight .mb { color: #D9A21B } /* Literal.Number.Bin */
html[data-theme="dark"] .highlight .mf { color: #D9A21B } /* Literal.Number.Float */
html[data-theme="dark"] .highlight .mh { color: #D9A21B } /* Literal.Number.Hex */
html[data-theme="dark"] .highlight .mi { color: #D9A21B } /* Literal.Number.Integer */
html[data-theme="dark"] .highlight .mo { color: #D9A21B } /* Literal.Number.Oct */
html[data-theme="dark"] .highlight .sa { color: #FFA1D7 } /* Literal.String.Affix */
html[data-theme="dark"] .highlight .sb { color: #FFA1D7 } /* Literal.String.Backtick */
html[data-theme="dark"] .highlight .sc { color: #FFA1D7 } /* Literal.String.Char */
html[data-theme="dark"] .highlight .dl { color: #FFA1D7 } /* Literal.String.Delimiter */
html[data-theme="dark"] .highlight .sd { color: #FFA1D7 } /* Literal.String.Doc */
html[data-theme="dark"] .highlight .s2 { color: #FFA1D7 } /* Literal.String.Double */
html[data-theme="dark"] .highlight .se { color: #935160 } /* Literal.String.Escape */
html[data-theme="dark"] .highlight .sh { color: #FFA1D7 } /* Literal.String.Heredoc */
html[data-theme="dark"] .highlight .si { color: #FFA1D7 } /* Literal.String.Interpol */
html[data-theme="dark"] .highlight .sx { color: #FFA1D7 } /* Literal.String.Other */
html[data-theme="dark"] .highlight .sr { color: #FFA1D7 } /* Literal.String.Regex */
html[data-theme="dark"] .highlight .s1 { color: #FFA1D7 } /* Literal.String.Single */
html[data-theme="dark"] .highlight .ss { color: #FFA1D7 } /* Literal.String.Symbol */
html[data-theme="dark"] .highlight .bp { color: #005B46 } /* Name.Builtin.Pseudo */
html[data-theme="dark"] .highlight .fm { color: #FBF4D7 } /* Name.Function.Magic */
html[data-theme="dark"] .highlight .vc { color: #B6BDCE } /* Name.Variable.Class */
html[data-theme="dark"] .highlight .vg { color: #B6BDCE } /* Name.Variable.Global */
html[data-theme="dark"] .highlight .vi { color: #B6BDCE } /* Name.Variable.Instance */
html[data-theme="dark"] .highlight .vm { color: #B6BDCE } /* Name.Variable.Magic */
html[data-theme="dark"] .highlight .il { color: #D9A21B } /* Literal.Number.Integer.Long */